@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100&family=Ubuntu:wght@700&display=swap");

#maintitle, .loginicon{
	font-family: 'Ubuntu', sans-serif;
	color: aliceblue;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

body{
	padding: 20px;
	animation: rotate 5s infinite alternate linear;
	background-size: cover;
	display: grid;
	background-image: url("low-poly-grid-haikei.svg");
	background-repeat: no-repeat；
}


@keyframes rotate{
	100%{
		background-position: 15% 50%;
	}
}

.requirements{
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 950;
	color: aliceblue;
	text-align: center;
	display: block;
	margin-left: 450px auto;
	padding: 20
	
}
input[type=text]{
	text-align: left;
	padding: 10px;
	border-radius: 15px;
	margin: auto;
	width: 65%;
	margin-left: 250px;
	
}

input[type=password]{
	text-align: left;
	padding: 10px;
	border-radius: 15px;
	margin: auto;
	width: 65%;
	margin-left: 250px;
}


#postinguid{
	padding: 10px;
	border-radius: 15px;
	margin: auto;
	width: 35%;
	margin-left: 500px;
	color: aliceblue;
	background-color: #4da0a3;
	
}